/target
yaffe-rs/target
yaffe-rs/Assets
yaffe-rs/plugins
log.txt
settings.txt
yaffe-rs.exe
Yaffe.db
Assets/atlas.tex
Roms
Cargo.lock
RCa21132
api_key.txt
google_api_key.txt
yaffe-rs/yaffe-rs
yaffe-rs/version.txt
yaffe-rs.update
yaffe-updater.exe
yaffe-updater